:root {
    --bs-body-bg: #121212 !important;
    --bs-body-color: #bababa !important;
    --grey: #303030;
    --blue: #00a6f5;
    --blue-light: #67c7f5;
}

.grey {
    color: var(--grey);
}

.grey-bg {
    background-color: var(--grey);
}

.blue {
    color: var(--blue);
}

.blue-bg {
    background-color: var(--blue);
}

.font-26 {
    font-size: 26px;
}

.font-24 {
    font-size: 24px;
}

.font-22 {
    font-size: 22px;
}

.font-20 {
    font-size: 20px;
}

.font-18 {
    font-size: 18px;
}