:root {
    --bs-body-bg: #121212 !important;
    --bs-body-color: #bababa !important;
    --grey: #303030;
    --blue: #00a6f5;
    --blue-light: #67c7f5;
    --green: #74cb80;
    --green-dark: #408049;
    --red: #dc3545;
    --red-dark: #8a1924;
}

.grey {
    color: var(--grey);
}

.grey-bg {
    background-color: var(--grey);
}

.blue {
    color: var(--blue);
}

.blue-bg {
    background-color: var(--blue);
}

.green {
    color: var(--green);
}

.font-50 {
    font-size: 50px;
}

.font-40 {
    font-size: 40px;
}

.font-30 {
    font-size: 30px;
}

.font-26 {
    font-size: 26px;
}

.font-24 {
    font-size: 24px;
}

.font-22 {
    font-size: 22px;
}

.font-20 {
    font-size: 20px;
}

.font-18 {
    font-size: 18px;
}

.plus-btn, .plus-btn:visited {
    color: var(--green);
}

.plus-btn:hover {
    color: var(--green-dark);
}

.del-btn, .del-btn:visited {
    color: var(--red);
}

.del-btn:hover {
    color: var(--red-dark);
}